@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.home div:nth-child(3) {
  /* background-color: #007BFF; */
}

.home div:nth-child(2) {
  /* background-color: #8C8C8C; */
}

.home div:nth-child(4) {
  background-color: #F2F2F2;
}
.home div:nth-child(5) {
  background-color: #008080;
}
.home div:nth-child(6) {
  background-color: #D2B48C;
}


.bar {
  display: block !important;
  width: 100% !important;
  background-color: white !important;
  transition: transform 0.3s, opacity 0.3s;
}