@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;


.brand{
  font-family: "Fascinate Inline", system-ui;
  font-weight: 600;
  font-style: normal;
}

body{
  background-color: #333333;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.man{
  transform: rotate(-15deg) translate(-6px, 15px) !important
}


.nf{
  transform:  rotate(10deg) translate(7px, -15px);
}

.body{
  background-color: #333333;
  width: 100% !important;
}

/* .home div:nth-child(3) {
  background-color: #007BFF;
} */



/* .home div:nth-child(2) {
  background-color: #8C8C8C;
} */

.container{
  position: relative !important;
}

.bg2 {
  background-color: #8C8C8C !important;
  width: 100% !important;
  height: 800px !important;
}


.barOne{
    transform: rotate(50deg) translate(-5px, 6px) !important;
}
/* 
.bar-one{
  transform: rotate(-1deg) translate(-5px, 6px) !important;
}

.bar-two {
  transform: rotate(-1deg) translate(-5px, 6px) !important;
} */

.barTwo{
    transform: rotate(-46deg) translate(-3px, -6px) !important;
}
/* .home div:nth-child(5) {
  background-color: #008080;
} */
/* .home div:nth-child(6) {
  background-color: #D2B48C;
} */


.bar {
  width: 100% !important;
  background-color: #111827 !important;
  transition: transform 0.3s, opacity 0.3s;
}

.section3{
  background-color: #007BFF;
  height: 35% !important;
}

/* .animation,
.animation_layer {
  height: 500px;
} */

.animation {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow-y: scroll !important;
  height: 100% !important;
  
}



.animation_layer{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:769px) {
  .ssp{
    display: grid !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px !important;
  }
  .proj{
    display: none !important;
  }
  .gratitude div h1{
    font-size: 30px;
  }
}


@media screen and (max-width: 768px) {
  .bugs{
    display: block !important;
  }
  .home{
    position: relative;
    top: 150px;
  }
  .code svg{
      width: 50px;
  }
   .terminal svg{
      width: 50px;
  }
    .specializing {
      width: 400px !important;
    }

    .animation_layer{
      height:40% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .iconic {
      display: none !important;
    }
    .section3{
      height: 37% !important;
    }

    .ssp{
      display: grid !important;
      grid-template-columns: repeat(2, minmax(0, 1fr));

    }
    .navi li:first-child{
      margin-left: 0px !important;
    }
    .navi{
      right: 10px !important;
      width: 200px !important;
      padding-left: 24px !important;
      padding-top: 10px !important;
      top: 70px !important;
      height: 250px !important;
    }
    .navi li:nth-child(2){
      padding-top: 0px !important;
    }
    .navi li:nth-child(3){
      padding-top: 0px !important;
    }
    .navi li:nth-child(4){
      padding-top: 0px !important;
    }
}

.navbtn{
  display:  none !important;
}

@media screen and (max-width:1024px) {
  .navi{
    display: block !important;
    position: absolute;
    top: 60px;
    right: 50px;
    padding-top: 20px;
    width: 250px;
    height: 260px;
    background-color: #f3f4f6;
  }
  .navi li:first-child{
    margin-left: 32px;
  }
  .navi li:nth-child(2){
    padding-top: 5px;
  }
  .navi li:nth-child(3){
    padding-top: 5px;
  }
  .navi li:nth-child(4){
    padding-top: 5px;
  }
  .navbars{
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .specializing{
    width: 355px !important;
  }
    .animation_layer {
      height: 35% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bg2{
      height: 950px !important;
    }

    .group{
      top: 180px !important;
      left: 46px !important;
    }
    .section1{
      display: block !important;
    }
    
    .section3{
      height: 58% !important;
    }
    .ssp{
      display: block !important;
    }
    .contact{
      position: relative;
      top: 300px !important;
    }
    #set{
      height: 900px !important;
    }
    .gratitude div h1{
      font-size: 20px !important;
    }
}

@media screen and (min-width: 768px) {
    .layer-two{    
      inset: 190px, 0, 0 !important;
    }
    .vector{
    display: block !important;
    }
}

@media screen and (min-width: 690px) {
  .vector{
    display: none;
  }
}


@media screen and (max-width: 370px) {
#container {
    top:300px !important;
  }

  .bulb{
    display: block !important;
  }
}

@media screen and (max-width:767px) {
  .section1{
    display: flex;
  }
  .group{
    left: 146px;
  }
  #container{
    height: 500px !important;
  }
  .message{
    transform: rotate(-5deg) !important;
    margin-bottom: 20px;
  }
  #set{
    height: 769px;
  }
}

@media screen and ( min-width:768px) {
  .about, .process, .service{
    font-size: 20px !important;
  }
  .message{
    transform: rotate(-2deg) !important
  }
}

@media screen and (min-width:1024px) {
  .closebtn{
    display: none !important;
  }
  .trail{
    display: none !important;
  }
  .home{
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (min-width:900px) {

  .about,
  .process,
  .service {
    font-size: 24px !important;
  }
}

@media screen and (max-width:330px) {
  .mainProcess{
    position: relative;
    top: 240px;
  }
  #container{
    position: relative;
    top: 100px !important;
  }
}

@media screen and (max-width:321px) {
  .mainProcess{
    display: none !important;
  }
  #container {
    top:3px !important;
  }

  .section3{
    height: 49% !important;
  }

}

@media screen and (max-width: 431px) {
  .section3{
    height: 56.5% !important;
  }
  .contact{
    top: 450px !important;
  }
}


.containers {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}


@media screen and (max-width: 376px) {
  .section3{
    height: 60% !important;
  }
}

@media screen and (min-width: 769px) {
  .contact{
    height: 900px !important;
  }
}

@media screen and (min-width : 320px) {
  .gratitude{
    display: flex !important;
  }
}

@media screen and (max-width: 1230px) {
  .sidenav{
    display: none ;
  }
  #sidebars {
    display: block !important;
    position: relative !important;
  }


  .home{
    font-weight: 600 !important;
  }

}